/* This file is for your main application css. */

@tailwind base {}
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-2xl;
      }
      h2 {
        @apply pt-10 text-xl;
      }
}

.btn {
    @apply px-4 py-2 font-bold rounded;
}

.btn-blue {
    @apply text-white bg-blue-500;
}

.btn-blue:hover {
    @apply bg-blue-700;
}

.hover {
    position: relative;
}


.hover .tooltip {
    /* hide and position tooltip */
    left: -20px;
    background-color: black;
    color: white;
    border-radius: 5px;
    opacity: 0;
    display: none;
    transition: opacity 0.5s, display 0.5s;
}

.hover .trigger:hover+.tooltip {
    /* display tooltip on hover */
    opacity: 1;
    display: block;
    position: absolute;
    top: 20px;
    left: 0;
}

.truncate {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.alert-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.alert-light {
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe;
}

.alert-dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
}