/* This file is for your main application css. */

@tailwind base {}
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply pb-4 text-2xl text-green-500;
      }
      h2 {
        @apply pb-4 pt-10 text-green-500 text-xl;
      }
}

.btn {
    @apply px-4 py-2 font-bold rounded;
}

.btn-blue {
    @apply text-white bg-blue-500;
}

.btn-blue:hover {
    @apply bg-blue-700;
}

.hover {
    position: relative;
}

.hover .tooltip {
    /* hide and position tooltip */
    left: -20px;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    opacity: 0;
    display: none;
    transition: opacity 0.5s, display 0.5s;
    z-index: 1;
}

.hover .trigger:hover+.tooltip {
    /* display tooltip on hover */
    opacity: 1;
    display: block;
    position: absolute;
    top: 20px;
    left: 0;
}

.truncate {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.alert-debug, .alert-debug td {
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe;
}

.alert-info, .alert-info td {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #ffffff;
}

.alert-notice, .alert-notice td {
    color: #004085;
    background-color: #cce5ff;
    border-color: #ffffff;
}

.alert-warning, .alert-warning td {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffffff;
}

.alert-error, .alert-error td {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
    .hover .tooltip {
        color: #000000;
        background-color: #ffffff;
    }

    .alert-debug, .alert-debug td {
        color: #eeeeee;
        background-color: #000000;
        border-color: #ffffff;
    }
    .alert-info, .alert-info td {
        color: #e2e3e5;
        background-color: #383d41;
        border-color: #000000;
    }

    .alert-notice, .alert-notice td {
        color: #004085;
        background-color: #cce5ff;
        border-color: #000000;
    }

    .alert-warning, .alert-warning td {
        color: #856404;
        background-color: #fff3cd;
        border-color: #000000;
    }
    .alert-error, .alert-error td {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #000000;
    }
}
