<% active = assigns[:active] %>
<% user = PenguinNodesWeb.Auth.current_user(@conn) %>
<.nav active={active} user={user} conn={@conn} />

<main role="main" class="container">
    <%= for {flash_key, flash_message} <- get_flash(@conn) do %>
        <p class={"alert alert-#{flash_key}"}><%= flash_message %></p>
    <% end %>
    <div class="p-10">
        <%= @inner_content %>
    </div>
</main>