<% active = assigns[:active] %>
<% user = assigns[:current_user] %>
<.nav active={active} user={user} conn={@socket} />

<main role="main" class="container">
    <%= for {flash_key, flash_message} <- @flash do %>
        <p class={"border m-4 px-4 py-3 rounded alert-#{flash_key}"}><%= flash_message %></p>
    <% end %>
    <div class="p-10">
        <%= @inner_content %>
    </div>
</main>
