<% active = assigns[:active] %>
<% user = assigns[:current_user] %>
<.nav active={active} user={user} conn={@socket} />

<main role="main" class="container">
    <%= for {flash_key, flash_message} <- @flash do %>
        <p class={"alert alert-#{flash_key}"} phx-click="lv:clear-flash">
            <%= flash_message %>
        </p>
    <% end %>
    <div class="p-10">
        <%= @inner_content %>
    </div>
</main>
