<h1><%= gettext "Welcome to %{name}!", name: "PenguinNodes" %></h1>
<p>Protect your money from energy companies.</p>

<% user = PenguinNodesWeb.Auth.current_user(@conn) %>
<%= if user != nil do %>
  <ul>
    <li>
      <%= link "Logout", to: Routes.page_path(@conn, :logout), method: :post %>
    </li>
  </ul>
<% else %>
  Please <%= live_redirect("Login", to: Routes.page_path(@conn, :login)) %>.
<% end %>
