<h1 class="text-xl text-center text-green-500 md:text-5xl"><%= gettext "Welcome to %{name}!", name: "PenguinNodes" %></h1>
<p class="text-xl text-center text-red-500" >Reliable control of IOT devices.</p>
